# Basic types
In Python is alles een [_object_].  
De objecten zoals `1` or `'Hallo'` hebben types.  
Python bepaald dynamisch welk type een object heeft.  

Hieronder wordt een paar veelgebruikte types uitgelegd.  

[_object_]: https://docs.python.org/3/library/functions.html?#object

## [Int](https://docs.python.org/3/library/functions.html#int)
`int` representeerd volledige getallen zoals: `-1`, `0`, `1` ... `10000`, etc.

In [1]:
een = 1
twee = 2
een + twee

3

De functie `int` kan objecten dat een getal representeert omzetten naar een integer getal

In [2]:
# +100 is een string
positief = "+100"
int(positief)

100

In [3]:
# -200 is een string
negatief = "-200"
int(negatief)

-200

`int` kan gebruikt worden om hexadecimaal of _base2_ getallen omzetten naar een decimaal getal

In [4]:
# omzetten binair getal naar decimaal
binair = '110'
int(binair, 2)

6

In [5]:
# omzetten hexadecimaal getal naar decimaal
hexadecimaal = '1A'
int(hexadecimaal, 16)

26

## [Float](https://docs.python.org/3/library/functions.html#float)
`float` representeerd een zwevend komma getal  
De functie `float` kan objecten die een getal representeren omzetten naar een kommagetal

`float` word [binair](https://nl.wikipedia.org/wiki/Binair) anders geintrepeteerd van een decimaal getal.  
Er is daar dan ook een standaard voor gemaakt ([IEEE_754](https://nl.wikipedia.org/wiki/Zwevendekommagetal#IEEE_754)).  
Door het precisie element in kommagetallen kunnen er [floatingpoint errors](https://nl.wikipedia.org/wiki/Zwevendekommagetal#Eigenschappen_van_zwevendekommaberekeningen) ontstaan.

In [6]:
# zou 0.9 moeten zijn
0.3 + 0.3 + 0.3

0.8999999999999999

`float` kan objecten die een getal representeren omzetten naar een kommagetal

In [7]:
# '-200' is een string
negatief = "-200"
float(negatief)

-200.0

In [8]:
# '+100' is een string
positief = "+100"
float(positief)

100.0

In [15]:
# wetenschappelijke notatie van 0.00001
wetenschappelijke_notatie = "1e-05"
float(wetenschappelijke_notatie)

1e-05

In [19]:
# een int naar float  plus  een wetenschappelijke notatie als float
float(10_000) + float(wetenschappelijke_notatie)

10000.00001

`int` en `float` kan samen gebruikt worden in sommen

In [9]:
0.618033 + 1

1.618033

## [Str](https://docs.python.org/3/library/functions.html#func-str)
Elke normale string in Python3 is een unicode string.  

`str` is een type dat een _string_ aan characters representeerd.  
Dit kan een enkele character zijn: `'A'`  
Of meerdere `'ABC'`  
Omdat een `str` dus unicode characters zijn kan het ook emoji's bevatten.

In [11]:
emoji_str = "\N{BLACK SUN WITH RAYS} zon en bloem ⚘"
emoji_str

'☀ zon en bloem ⚘'

Zoals er bij `int` is laten zien kan een `str`  object worden omgezet naar `int`  
Vrijwel alles in Python kan omgezet worden naar `str`  

Strings kan ook geformateerd worden met waardes er in.
Met een `f` voor het begin van een string wordt de string een [f-string](https://realpython.com/python-f-strings/)      
[Accolades](https://nl.wikipedia.org/wiki/Accolade_(leesteken)) kunnen dan in de f-string gebruikt worden om een object in een string te weergeven.

In [11]:
one_million = 1_000_000
str_million = str(one_million)
f'{str_million} of type str: {isinstance(str_million, str)}'

'1000000 of type str: True'

### Oefeningen Basic types

Maak een string aan dat een getal is en probeer dat met een andere string op te tellen.  
voorbeeld: `'1' + 2`

Probeer een string te vermenigvuldiggen.  
voorbeeld `'a' * 100`

Maak een willekeurige som met een `float` en een `int`