# Basic types
In Python is alles een [_object_].  
De objecten zoals `1` or `'Hallo'` hebben types.  
Python bepaald dynamisch welk type een object heeft.  

Hieronder wordt een paar veelgebruikte types uitgelegd.  

[_object_]: https://docs.python.org/3/library/functions.html?#object

## [Int](https://docs.python.org/3/library/functions.html#int)
`int` representeerd volledige getallen zoals: `-1`, `0`, `1` ... `10000`, etc.

In [ ]:
een = 1
twee = 2
resultaat = een + twee
print(resultaat)

De functie `int` kan objecten dat een getal representeert omzetten naar een integer getal

In [ ]:
# +100 is een string
positief = "+100"
print(int(positief))

In [ ]:
# -200 is een string
negatief = "-200"
print(int(negatief))

`int` kan gebruikt worden om hexadecimaal of _base2_ getallen omzetten naar een decimaal getal

In [ ]:
# omzetten binair getal naar decimaal
binair = '110'
print(int(binair, 2))

In [ ]:
# omzetten hexadecimaal getal naar decimaal
hexadecimaal = '1A'
print(int(hexadecimaal, 16))

## [Float](https://docs.python.org/3/library/functions.html#float)
`float` representeerd een zwevend komma getal  
De functie `float` kan objecten die een getal representeren omzetten naar een kommagetal

`float` word [binair](https://nl.wikipedia.org/wiki/Binair) anders geintrepeteerd van een decimaal getal.  
Er is daar dan ook een standaard voor gemaakt ([IEEE_754](https://nl.wikipedia.org/wiki/Zwevendekommagetal#IEEE_754)).  
Door het precisie element in kommagetallen kunnen er [floatingpoint errors](https://nl.wikipedia.org/wiki/Zwevendekommagetal#Eigenschappen_van_zwevendekommaberekeningen) ontstaan.

In [ ]:
# zou 0.9 moeten zijn
som = 0.3 + 0.3 + 0.3
print(som)

`float` kan objecten die een getal representeren omzetten naar een kommagetal

In [ ]:
# '-200' is een string
negatief = "-200"
print(float(negatief))

In [ ]:
# '+100' is een string
positief = "+100"
print(float(positief))

In [ ]:
# wetenschappelijke notatie van 0.00001
wetenschappelijke_notatie = "1e-05"
print(float(wetenschappelijke_notatie))

In [ ]:
# een int naar float  plus  een wetenschappelijke notatie als float
print(float(10_000) + float(wetenschappelijke_notatie))

`int` en `float` kan samen gebruikt worden in sommen

In [ ]:
som = 0.618033 + 1
print(som)

## [Str](https://docs.python.org/3/library/functions.html#func-str)
Elke normale string in Python3 is in [Unicode] geëncodeerd.  
Dat betekend simpelweg dat veel letters worden ondersteund, waaronder [emoji's].  

`str` is een type dat een _string_ aan letters representeert.  
Dit kan een enkele character zijn: `'A'`  
Of meerdere `'ABC'`  

[emoji's]: https://unicode.org/charts/nameslist/
[Unicode]: https://docs.python.org/3/howto/unicode.html#python-s-unicode-support

In [ ]:
een_string = "\N{BLACK SUN WITH RAYS} zon en bloem ⚘"
print(een_string)

En met de module [unicodedata] kan er namen van emoji's worden opgezocht

[unicodedata]: https://docs.python.org/3/library/unicodedata.html

In [ ]:
import unicodedata
print(unicodedata.name('☀'))

Zoals er bij `int` is laten zien kan een `str`  object worden omgezet naar `int`  
Vrijwel alles in Python kan omgezet worden naar `str`  

Strings kan ook geformateerd worden met waardes er in.  
Met een `f` voor het begin van een string wordt de string een [f-string](https://realpython.com/python-f-strings/)      
[Accolades](https://nl.wikipedia.org/wiki/Accolade_(leesteken)) kunnen dan in de f-string gebruikt worden om een object in een string te weergeven.

In [ ]:
one_million = 1_000_000

# 'cast' een int naar een string 
str_million = str(one_million)

print(f'{str_million} of type str: { isinstance(str_million, str) }')

### Python heeft geen char type
Andere programmeer talen zoals _C_, _C++_, _C#_, _Java_, etc. hebben een char type.  
Dit type geeft aan dat het een enkele letter is.  
Ook worden char of string in die talen op een andere manier opgeschreven.  

Python heeft dat vereenvoudigd, alles tussen quotes is een string.  
Het maakt ook niet uit welke qoutes er gebruikt wordt.

In [ ]:
print("string met dubbele quotes")
print('string met enkele quotes')
print('Guido zei: "de qoutes moeten matchen"')

### Oefeningen Basic types

Maak een string aan dat een getal is en probeer dat met een andere string op te tellen.  
voorbeeld: `'1' + 2`

Probeer een string te vermenigvuldiggen.  
voorbeeld `'a' * 100`

Maak een willekeurige som met een `float` en een `int`